@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



html{
    font-size: 62.5%;
}

:root{

    --primary-color:#010101;
    --main-harmony:#FFFFFF;
    --secondary-color:#ffbe00;
    --secondary-thick-color:#FF9900;
    --secondary-thin-color:#F7bf08;
    --font-family: "Montserrat", sans-serif;
    --font-size:1.6rem;
    --font-weight:500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body{
    font-size: var(--font-size);
    font-family: var(--font-family);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

a{
    text-align: center;
    text-decoration: none;
}

@mixin centerElement{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    transition: all .5s ease;
}

.span-color{
    color: var(--secondary-color);
}

.span-color2{
    color: var(--secondary-thin-color);
}